* {
    font-family: sans-serif;
}

body {
    background-color: #f7f7f7;
}

footer {
    background-color: #861faf;
    margin: 0;
    padding: 0;
    color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p, li, ul, a {
    /* font-family: cursive; */
    font-size: 14px;
}

.banner {
    background-color: #461B79;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
}


.info-checkout {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    margin-top: -90px;
}

.promo-code {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    margin-top: -90px;
    margin-left: 15px;

}