    /* FOOTER */
footer {
    color: white;
}

#ul-footer {
    list-style: none;
    padding: 0;
}

#h5-footer {
    white-space: nowrap;
}

#row1 {
    background-color: #8a47dc;
    position: relative;
}

#row2 {
    background-color: #6d32b2;
}

#a-footer { 
    color: inherit;
}

#a-footer:visited {
     color: white;
}
/* --------------------------------------------------------------------------------------- */
/* /LOGIN */
#body-login2 {
    background-color: #461b79;
}

#div-master-login {
    border: 2px solid black;
    background-color: white;
    max-width: 600px;
    min-width: 360px;
    border-radius: 15px;
    width: 100%;
}

#div-titulo-login {
    white-space: nowrap;
}
/* --------------------------------------------------------------------------------------- */
/* CADASTRO */
#body-cadastro {
    background-color: #461b79;
}

#div-master-cadastro {
    border: 2px solid black;
    background-color: white;
    max-width: 600px;
    min-width: 360px;
    border-radius: 15px;
}

#div-titulo {
    white-space: nowrap;
}

#div-span {
    font-size: 13px; 
}

/* /CADASTRO */
/* --------------------------------------------------------------------------------------- */
/* CONTATO */


/* --------------------------------------------------------------------------------------- */
* {
    font-family: sans-serif;
}

body {
    background-color: #f7f7f7;
}


p, li, ul, a {
    font-size: 14px;
    
}

.banner {
    background-color: #461B79;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
}


.info-checkout {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    margin-top: -90px;
}

.promo-code {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    margin-top: -90px;
    margin-left: 15px;

}

.product {
    background-color: #471b7a;
}

.text {
    color: #fff!important;
}

h1 {
    font-weight: 600;
}