/* FOOTER */
footer {
    color: white;
}

#ul-footer {
    list-style: none;
    padding: 0;
}

#h5-footer {
    white-space: nowrap;
}

#row1 {
    background-color: #461b79;
    position: relative;
}

#row2 {
    background-color: #61197e;
}

#a-footer { 
    color: inherit;
}

#a-footer:visited {
     color: white;
}
/* FOOTER */
/* LOGIN */
body#login {
    background-color: #461b79;
}

.container {
    max-width: 500px;
    background-color: white;
}

#cont-login3 {
    border-radius: 0 0 15px 15px;
}

#cont-login1 {
    border-radius: 15px 15px 0 0;
}

#btn-login1 {
    border-radius: 15px;
}

/* /LOGIN */

* {
    font-family: sans-serif;
}

body {
    background-color: #f7f7f7;
}


p, li, ul, a {
    /* font-family: cursive; */
    font-size: 14px;
}

.banner {
    background-color: #461B79;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
}


.info-checkout {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    margin-top: -90px;
}

.promo-code {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    margin-top: -90px;
    margin-left: 15px;

}